*~
.DS_Store
.classpath
.settings
.project
.idea
target
*.iml
classes
lib
.bpmn
/node_modules
.arcconfig
data
api-web/src/main/resources/WEB-INF/
api-web-new-help/src/main/resources/WEB-INF/

# front-end
/node_modules
/dist
.idea/
.vscode
npm-debug.log
yarn-error.log
.proxyrc.js
*.swp
package-lock.json

/mis-web-react-help/node_modules